*
{
    padding: 0;
    margin: 0;
}

header
{
    background-color: #18b799;
}

header nav a 
{
    color: #fef6cd;
    text-decoration: none;
    font-family:'Fjalla One', sans-serif;
    font-size: x-large;
    
}

header>h2
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-inline-start: auto;
    
}
header > nav
{
    padding:10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;

}
header > nav > a:hover
{
    font-weight: bold;
    text-decoration: underline;
}

main > .card
{
    width: 300px;  
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    margin-top: 20px;
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 3px;
    justify-content: space-around;
}

main
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

main > .card:hover
{
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

@media (max-width: 768px) {
    .main {
      border: 1px solid rgb(0, 0, 0);
      margin: 5px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 200px);
      /* gap: 10px; */
      grid-template-areas:
        "area1 area2 area3"
        "area4 area4 area5"
        "area6 area7 area7"
        "area8 area8 area9";
    }
  } 



footer
{
    margin:  20px;
    padding: 20px;
    border-top: 1px solid black;
    text-align: center;
}